<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Déclaration de dao -->
    <bean id="dao" class="sdia.dao.Daoimpl"/>

    <!-- Déclaration de metier avec injection du bean dao -->
    <bean id="metier" class="sdia.metier.MetierImpl">
        <property name="dao" ref="dao"/>
    </bean>

</beans>
